@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav {
    display: flex;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

nav a:hover,
nav a.active {
    color: #0ef;
    transition: 0.3s;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#add-medication,
#medication-list {
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#medication-form label {
    margin-bottom: 10px;
    font-size: 20px;
    align-items: center;
    
}

#medication-form input[type="text"],
#medication-form input[type="time"],
#medication-form button {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

#medication-form button {
    position: absolute;
    top: 70%;
    left: 70%;
    background-color: #2e7acc;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#medication-form button:hover {
    background-color: #27ae60;
}

#medication-items li {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    /* Remove the following line to use default background color */
    /* background-color: #fff; */
}