@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: color 0.3s ease;
}

nav a:hover,
nav a.active {
    color: #0ef;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 90%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

#photo-upload {
    background-color: rgba(0, 0, 0, 0.8); /* Adjust transparency as needed */
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Adjust shadow as needed */
}

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upload-form label {
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 20px;
}

#upload-form input,
#upload-form button {
    margin-bottom: 15px; /* Increase spacing between elements */
    padding: 12px 20px; /* Adjust padding for better button appearance */
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

#upload-form button {
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#upload-form button:hover {
    background-color: #27ae60;
}

#status-message {
    margin-top: 20px; /* Increase margin top */
    padding: 15px; /* Adjust padding */
    border-radius: 8px;
}

.success {
    background-color: #2ecc71;
}

.error {
    background-color: #e74c3c;
}

.spinner {
    border: 6px solid rgba(255, 255, 255, 0.1); /* Adjust color and transparency */
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
